<div class="mx-auto px-20 bg-teal-600">
    <ul class="text-white py-5 flex justify-center sm:justify-between">
        <h1 class="font-bold font-serif text-2xl hover:cursor-pointer">ToDo app</h1>
        <div class=" gap-5 hidden">
            <li class="hover:text-cyan-400 hover:cursor-pointer px-5 py-1 hover:shadow-lg">Home</li>
            <li class="hover:text-cyan-400 hover:cursor-pointer px-5 py-1 hover:shadow-lg">About</li>
            <li class="hover:text-cyan-400 hover:cursor-pointer px-5 py-1 hover:shadow-lg">Contact</li>
        </div>
    </ul>
</div>